/* Imports de fuentes de google */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Ajustes de estilo generales */


html,
body {
  width: auto;
}
body {
  background-color: #fff;
  margin: 0;
}
header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 100%;

  position: fixed; /* Para que se quede fijada arriba cuando haces scroll */

  z-index: 1000; /* Para que la barra este por encima de toda la pagina */

  top: 0;
  width: 100%;
}


/* Estilo de la Barra de navegacion */


.navMenu {
  display: flex; /* Centrar la navbar */

  justify-content: center;
  width: 100%;
  align-items: center;
  font-family: "Playfair Display", serif;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.2s ease-in-out; /* Transicion del link  */
  transition: all 0.2s ease-in-out;
  display: block; /* Para moverla como un bloque */
  margin: 0 auto;
  width: 100%;
}

.navMenu a:hover {
  color: #fddb3a;
}

#logonav { /* Tamaño de logo */

  height: 80px;
  width: 80px;
}

video {
  position: relative;
  width: 100%;
  z-index: 0;
}
.overlay { /* Para ajustar el link en el video */
  z-index: 1;
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}
.linkvideo {
  font-size: 24px;
  text-decoration: none; /* Para que no este subrayado el link*/
  color: #fff;
}
a:hover {
  color: #fddb3a;
}
.flecha {
  font-size: 40px;
}

/* Estilo de la section de marcas */

.Marcas {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.contenedor_imagen {
  display: inline-block;
}

#marcasimg1 {/* Ajustar tamaño de imagenes  */
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

/* Estilo de la section de Carta */

.carta {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
  margin-top: 50px;
}
.imagencarta {
  float: left;
  margin-left: 8%;
  margin-right: 10%;
}
.imagencarta1 {
  float: right;
  margin-left: 20px;
  margin-right: 10%;
}
#carta {
  font-family: "Montserrat", sans-serif;
}

.imagencarta img {
  float: right;
  margin: 10px;
  width: 150px;
  height: 150px;
}
.imagencarta1 img {
  float: right;
  margin: 10px;
  width: 150px;
  height: 150px;
}

/* Estilo de la section de Servicios y Elaboraciones */
.imageser {
  float: left;
}
.imagenser img {
  width: 400px;
  height: 300px;
  margin-top: 2%;
  margin-bottom: 3%;
}
.textoser {
  float: right;
  text-align: center;
  margin-top: 5%;
  margin-right: 10%;
  font-family: "Montserrat", sans-serif;
}
.servicios {
  margin-top: 35%;
  margin-left: 10%;
}
#servicio {
  background-color: #dee2e6;
}


/* Calendario y reservas  */

table {
  border-collapse: collapse;
  border-spacing: 0;
  float: left;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 2%;
}

td {
  padding: 0;
}

.calendar-container header {
  border-radius: 1em 1em 0 0;
  background: #e66b6b;
  color: #fff;
}

.day {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
}

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  color: #555;
}

.calendar thead {
  color: #e66b6b;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
  padding: 0.5em 1em;
  text-align: center;
}

.calendar tbody td:hover {
  background: #cacaca;
  color: #fff;
}

.botones {
  float: right;
  margin-right: 15%;
  text-align: center;
  margin-top: 5%;
}
.redondo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}



/* Ajustes del IFrame  */

.mapa {
  text-align: center;
  margin-top: 25%;
  margin-bottom: 2%;
}

/* Estilo del footer */

footer {
  background-color: black;
  height: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
}
footer img {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100px;
  height: 30px;
}
footer pre {
  margin: 0%;
}
